/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
 }

 h1 {
  font-size: 40px;
 }

 .container {
  border: 1px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 30px;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 20px;
 }

 .new_task_container {
  padding: 20px;
 }

 .button {
  padding: 20px;
  background-color: rgb(77, 127, 199);
  border-radius: 20px;
  color: white;
 }

 .button a {
  background-color: rgb(77, 127, 199);
  border-radius: 20px;
  color: white;
 }

 .fa-solid {
  font-size: 20px;
  margin-right: 10px;
  color: blue;
 }


 a {
  text-decoration: none;
 }
